@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Montserrat:wght@200;300;400;700&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Montserrat:wght@200;300;400;700&family=Poppins:wght@200&display=swap');

$colors: (
    'bright-orange' : hsl(31, 77%, 52%),
    'dark-cyan' : hsl(184, 100%, 22%),
    'very-dark-cyan' : hsl(179, 100%, 13%),
    'transparent-white': hsla(0, 0%, 100%, 0.75), //paragraph
    'very-light-gray' : hsl(0, 0%, 95%), // background, heading, buttons
);

// Media queries
@mixin ipad {
    @media screen and (min-width: 865px) {
        @content;
    }
};



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: map-get($colors, 'very-high-gray');
}